.side-col h2, .main-col h2 {
    padding: 4px 0;
    margin-bottom: 1rem;
    font-size: 25px;
    color: #4f4f50;
}

.side-col hr {
    height: 3px;
    color: #4f4f50;
    background-color: #4f4f50;
    border: none;
    opacity: 0.9;
}

h5 {
    color: #4f4f50;
    padding: 5px;
    margin-bottom: 0;
    height: auto;
    font-size: 16px;
}

.main-col .header_row, .side-col .header_row {
    margin-bottom: 0;
}

.main-col .header_row .new_day, .side-col .header_row .edit {
    float: right;
    margin-top: 0px;
    font-size: 16px;
}

.side-col h5 span {
    color: #5383d3;
}

.main-col h5 span {
    color: #5383d3;
}

.main-col button {
    max-width: 175px;
}

.main-col button:first-child {
    font-size: 16px;
}

.popup .row {
    margin: 0 0 20px 0;
}

.popup .row .button_col {
    box-shadow: unset;
    margin: 0;
}

.popup .row .button_col button {
    margin: 0;
}

.popup .modal-row .col {
    box-shadow: none;
    margin: 0;
    padding: 0;
    min-height: none;
    height: auto;
}

.popup .modal-row .left-col .form-group {
    width: 95%;
    float: left;
}

.popup .modal-row .right-col .form-group {
    width: 95%;
    float: right;
}

.popup h2 {
    font-size: 25px;
}

@media (max-width:1625px) {
    h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .popup label {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .popup label {
        font-size: 10px;
    }
}