.side-col h2 {
    padding: 4px 0;
    margin-bottom: 1rem;
    font-size: 30px;
    color: #4f4f50;
}

.side-col hr {
    height: 3px;
    color: #4f4f50;
    background-color: #4f4f50;
    border: none;
    opacity: 0.9;
}

h5 {
    color: #4f4f50;
    padding: 5px;
    height: auto;
}

.side-col h5 span {
    color: #5383d3;
    margin-left: 2em;
    position: absolute;
    left: 100px;
}

.side-col {
    position: relative;
    min-width: 500px;
}

.main-col {
    min-width: 500px;
}

.main-col h5 span {
    color: #5383d3;
    
}

.main-col button {
    max-width: 200px;
}
