.form {
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 100px;
  overflow: hidden;
  padding: 3em
}

.row {
  margin-bottom: 20px;
}

.form-group {
  margin: 0 0 20px;
}

.form-group:last-child {
  margin: 0;
}

.form-group label {
  margin: 0 0 10px 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .2em;
}

.form-group input, .form-group textarea {
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.form-group select {
  height: 3em;
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.form-group button:hover {
  cursor: pointer
}

.form-group button {
  background: #5383d3;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font: 20px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  max-width: 800px;
  margin-top: 1em;
}

.form-group button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}

.form-header {
  margin: 0 0 40px;
}

.form-header h2 {
  padding: 4px 0;
  font-size: 30px;
  color: #4f4f50;
}


